body {
    background-color:white;
    font:arial;
    color:black;
    }
h1{
    color:grey;
    font-family:verdana;
    }
.maindiv{
    background-color:yellowgreen; 
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto;
    } 


